html {
    font-size: 16px;
    margin: 4%;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.4fr 2fr 1fr;
    row-gap: 20px;
}

/*
--------------------------------------------------------------
Header section*/

.header {
    display: flex;
    border-bottom: solid black 0.2rem;
    grid-row: 1 /span 1;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
}

#navcontainer {
    align-self:center;
}


nav, ul {
    display: inline-flex;
    margin-right: 2%;
    margin-left: 2%;
    position: relative;
    right: 20%;
}

li, .navelement {
    margin-left: 8%;
    margin-right: 8% ;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 1.5rem;
    width: 6rem;
}


#skillslist, #aboutmelist {
    width: 4rem;
}

a:hover {
    text-decoration: underline;
    color: rgb(97, 84, 84);
    transition: all 0.5s;
}

@media screen and (max-width: 820px ) {
    .header {
        flex-direction: column;
    }
  nav, ul {
      justify-content: flex-end;
      left: 6%;
  }
  #myname {
      display: flex;
      justify-content: center;
  }
}

@media screen and (max-width: 450px) {
    li, a {
        margin-left: 4%;
        margin-right: 4%;
        left: 0%;
    }
}

/*
About me section
-----------------------------------------------------------------
*/

.about {
    grid-row: 2 / span 1;
    margin-top: 5rem ;
}

.about h2 {
    border-bottom: solid black 0.2rem;
    font-size: 2rem;
}

#aboutmecontent {
    display: inline-flex;
    justify-content: space-around;
  
}

#mydescription {
    width: 50%;
    height: 100%;
    font-size: 1.5rem;
}

#myphotocontainer {
    width: 30%;
    height: 100%;
}

#myphoto {
    width: 100%;
    border-radius: 10%;
    border: 0.2rem solid black;
}

@media screen and (max-width: 980px) {
    #mydescription {
        width: 50%;
    } 
    #myphotocontainer {
        width: 35%;
    }
}

@media screen and (max-width: 780px) {
    #aboutmecontent {
        display: flex;
        flex-direction: column;
    }
    #mydescription {
        width: 100%;
    }
}

@media screen and (min-width: 1500px) {
    #myphotocontainer {
        width: 20%;
    }
}

/* My stack section 
----------------------------------------------------
*/

#projecttitle {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
    text-decoration: underline;
}


.stack{
    text-align: center;
    border: solid white 0.2px;
}

.stackimg {
    grid-row: 3;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.stackcontainer {
    min-width: 10px;
    max-width: 100px;
    height: fit-content;
    margin-left: 40px;
    margin-bottom: 40px;
    transition: ease-in 0.5s;
    position: relative;
    bottom: 0px;
}

.stackcontainer img {
    width: 100%;
}

figcaption {
    margin-top: 10px;
    visibility: hidden;
    transition: ease-in 0.5s;
    color: white;
}

#htmlfig, #nodefig {
    position: relative;
    bottom: 10px;
}

.stackcontainer:hover{
    position: relative;
    bottom: 10px;
}

#nodefig:hover, #htmlfig:hover {
    bottom: 20px;
}

.stackcontainer:hover > figcaption {
    visibility: visible;
    transition: ease-in 0.5s;
    color: black;
}

@media screen and (max-width: 474px) {
    #jsfig, #htmlfig, #HTMLfig, #githubfig {
        margin-left: 25px;
    }
}

/* Projects section
-----------------------------------------------------
*/
.projects {
    grid-row: 4 / span 1;
    justify-content: center;
}

.projectdiv {
    display: inline-flex;
    width: 90%;
    position: relative;
    left: 5%;
    height: fit-content;
    flex-direction:row;
    justify-content: center;
}

.projectcontainer {
    width: 45%;
    height: fit-content;
    min-width: 350px;
    max-width: 500px;
    margin: 5px;
}

.projectimg {
    width: 100%;
    opacity: 0.85;
    transition: ease-in 0.2s;
    border: 1.5px solid white;
}


.projecttext {
    flex-direction: column;
    padding: 4%;
    height: fit-content;
    width: 30%;
    margin: 5px;
    align-self: center;
}

.projectimg:hover {
    opacity: 1;
    border: 1.5px solid black;
}

@media screen and (max-width: 640px) {
    .projectdiv {
        flex-direction: column;
    }
    .projecttext {
        width: 65%;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 65px;
        padding: 0%;
    }
}


